<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>22-ism-intern-toDo</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>ism.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>ism.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>ism.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordController</display-name>
    <servlet-name>ForgotPasswordController</servlet-name>
    <servlet-class>ism.controller.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordController</servlet-name>
    <url-pattern>/ForgotPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordEnterPasswordController</display-name>
    <servlet-name>ForgotPasswordEnterPasswordController</servlet-name>
    <servlet-class>ism.controller.ForgotPasswordEnterPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordEnterPasswordController</servlet-name>
    <url-pattern>/ForgotPasswordEnterPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTaskController</display-name>
    <servlet-name>AddTaskController</servlet-name>
    <servlet-class>ism.controller.AddTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTaskController</servlet-name>
    <url-pattern>/AddTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTaskController</display-name>
    <servlet-name>ListTaskController</servlet-name>
    <servlet-class>ism.controller.ListTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTaskController</servlet-name>
    <url-pattern>/ListTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskDoneController</display-name>
    <servlet-name>TaskDoneController</servlet-name>
    <servlet-class>ism.controller.TaskDoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskDoneController</servlet-name>
    <url-pattern>/TaskDoneController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDoneTaskController</display-name>
    <servlet-name>ListDoneTaskController</servlet-name>
    <servlet-class>ism.controller.ListDoneTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDoneTaskController</servlet-name>
    <url-pattern>/ListDoneTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTaskController</display-name>
    <servlet-name>DeleteTaskController</servlet-name>
    <servlet-class>ism.controller.DeleteTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskController</servlet-name>
    <url-pattern>/DeleteTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskController</display-name>
    <servlet-name>UpdateTaskController</servlet-name>
    <servlet-class>ism.controller.UpdateTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskController</servlet-name>
    <url-pattern>/UpdateTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitUpdateTaskController</display-name>
    <servlet-name>SubmitUpdateTaskController</servlet-name>
    <servlet-class>ism.controller.SubmitUpdateTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitUpdateTaskController</servlet-name>
    <url-pattern>/SubmitUpdateTaskController</url-pattern>
  </servlet-mapping>
</web-app>